Package: com.yaowell.batterymirrorlite
Name: BatteryMirror Lite
Version: 1.1
Architecture: iphoneos-arm64
Description: 将控制中心低电量模块图标替换为状态栏电池胶囊图标（适合非全面屏或隐藏了控制中心状态栏、且未开启顶部电量百分比时，方便查看实时电量）。基于 futur3sn0w 开源项目修改，去除设置项 Replaces Low Power Mode toggle icon with statusbar battery pill icon for easier battery viewing in Control Center.
Maintainer: yaowell
Author: yaowell, futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
