Package: com.yaowell.cowbellxs
Name: Cowbell XS
Version: 1.0.0
Architecture: iphoneos-arm64
Description: 将控制中心低电量模式图标替换为原生态放大的电池图标（Lightweight & optimized BatteryMirror modification for Control Center. Original work by futur3sn0w.）
Maintainer: yaowell
Author: yaowell
Section: Tweaks
Depends: firmware (>= 15.0)
